*.iml
/.idea/
/.idea-old/
/.vscode/
/v1/.htaccess
/v1/.htpasswd
/v1/vendor/
/v1/config.ini
/v1/*.apps.googleusercontent.com.json
/v1/archive/
config.ini
config.prod.ini
db.sqlite3
.htpasswd
.htaccess.prod
lib/phpmailer/
temp/
.DS_Store
_deploy/deploy-temp/
