*.iml
/.idea/
/.idea-old/
/.vscode/
/v1/.htaccess
/v1/.htpasswd
/v1/vendor/
/v1/config.ini
/v1/*.apps.googleusercontent.com.json
/v1/archive/
/v2/config.ini
/v2/config.prod.ini
/v2/db.sqlite3
/v2/.htpasswd
/v2/lib/phpmailer/
/v2/temp/
.DS_Store
_deploy/deploy-temp/
