[mail]
;Specify main and backup SMTP servers
smtp_host = YOUR_HOST

;Enable SMTP authentication
smtp_auth = true

;SMTP username
smtp_username = YOUR_USERNAME
smtp_from = YOUR_MAIL_ADDRESS

;SMTP password
smtp_password = PASSWORD

;Enable TLS encryption, `ssl` also accepted
;smtp_secure = tls

;TCP port to connect to
smtp_port = 25

[google]
;Google API Credentials
google_api_client_id = YOUR_GOOGLE_API_CLIENT_ID
google_api_client_secret = YOUR_GOOGLE_API_CLIENT_SECRET
google_api_credentials_file = RELATIVE_PATH_TO_CREDENTIALS_FILE
google_api_oauthcallback_uri = FULL_URI_OF_CALLBACK_PAGE