<html>
<head>
    <style>
        body {
            font-family: 'cagliostro', serif;
        }

        h1 {
            font-family: 'frederickathegreat', serif;
            font-size: 30pt;
            margin: 0;
        }

        p, td {
            font-size: 13pt;
            margin: 0;
            padding: 0;
        }

        small {
            font-size: 10pt;
        }

        pre {
            font-family: 'courier', monospace;
            font-size: 10pt;
        }
    </style>
</head>
<body>
<h1>{{ rubrik }}</h1>

<p>Den här fakturan gäller {{namn}} och skickades den {{ datum_idag }}.</p>

{% for rad in intro %}
<p>{{ rad }}</p>
{% endfor %}

<table cellpadding="3" style="border: 0.5pt solid black">
    {% set sum = 0.0 %}
    {% for rad in rader %}
    <tr>
        <td align="left" width="75%">
            {{ rad.text }}
            {% if rad.antal != 1 %}
                ({{rad.antal}} st)
            {% endif %}
        </td>
        <td align="right" width="25%">{{ (rad.belopp * rad.antal) | number_format(2, ',', ' ') }} kr</td>
    </tr>
    {% set sum = sum + (rad.belopp * rad.antal) %}
    {% endfor %}
    <tr>
        <td align="right" style="border-top: 0.5pt solid black"></td>
        <td align="right" style="border-top: 0.5pt solid black">Summa: {{ sum | number_format(2, ',', ' ') }} kr</td>
    </tr>
</table>
<br/>
<br/>

{% if sum > 500 %}
<br/>
<br/>
<small>Meddela oss om ni önskar delbetala över flera månader. <br/>Ange i så fall samma meddelande på samtliga delbetalningar.</small>
{% endif %}

<br/>
<br/>
{% if sum > 0 %}
<p>Du kan betala via Bankgiro eller Swish.</p>
<table cellpadding="0" cellspacing="0">
    <tr>
        <td width="50%">
            <table cellpadding="10" cellspacing="0" style="border: 0.5pt solid lightgray;"><tr><td>Betala via Bankgiro
                <pre>Bankgiro-nummer:  736-4318<br/>Meddelande:       {{ _ref }}<br/>Belopp:           {{ sum | number_format(2, ',', ' ') }}<br/>Förfallodatum:    {{ datum_om30dagar }}</pre>
                <br/>
                <br/>
                <small>I Nordeas eller Swedbanks appar kan du skanna QR-koden för att slippa knappa in siffrorna själv:</small>
                <br/>
                <div style="text-align: center">
                    <img height="100" width="100" src="{{ bankgiro_qr_code_url(sum, _ref, datum_om30dagar) }}"/>
                </div>
            </td></tr></table>
        </td>
        <td width="50%">
            <table cellpadding="10" cellspacing="0" style="border: 0.5pt solid lightgray;"><tr><td>Betala via Swish
                <pre>Mottagare:   1233494234<br/>Meddelande:  {{ _ref }}<br/>Belopp:      {{ sum | number_format(2, ',', ' ') }}</pre>
                <br/>
                <br/>
                <small>I Swish-appen kan du skanna QR-koden för att slippa knappa in siffrorna själv:</small>
                <br/>
                <div style="text-align: center">
                    <img height="100" width="100" src="{{ swish_qr_code_url(sum, _ref) }}"/>
                </div>
            </td></tr></table>
        </td>
    </tr>
</table>
{% else %}
    <p>Vi kommer återbetala {{ sum | abs | number_format(2, ',', ' ') }} kr.</p>
    <p>Pengarna återbetalas till tidigare inrapporterat bankkonto.</p>
{% endif %}
</body>
</html>